body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    max-width: 960px;
    margin: auto;
    font-size: 18px;
    text-align: center; 
}
.container {
    position: relative;
    height: 100%;
    width: 100%;
    
}

.header {
    margin-top: 8px;
    background: #ebebeb;  
    padding: 5px;
    height: 10%;
    line-height: 400%;
    
}

.nav {
    background: #ebebeb;
    padding: 5px; 
    margin-top: 10px;
    margin-bottom: 10px;
    height: 10%;
    line-height: 400%;
    
}
.section {
    float: left;
    position: absolute;
    background: #ebebeb;
    width: 53%;
    height: 35%;
    margin-top: 1%;
    overflow: auto;
    line-height: 400%;
    
}
.aside {
    float: right;
    position: relative;
    background: #ebebeb;
    width: 45%;
    height: 35%;
    margin-top: 1%;
    overflow: auto;
    vertical-align: middle;
    line-height: 400%;

}

.article {
    background: #777;
    position: absolute;
    color: #ebebeb;
    margin-top: 8%;
    margin-left: 1%;
    height: 24%;
    line-height: 400%;
    width: 51%;
    padding-bottom: 1%;
    overflow: auto;

}

.header-container {
    background: #ebebeb;
    position: absolute;
    margin-top: -1%;
    margin-left: 4%;
    height: 27%;
    width: 92%;
    line-height: 70%;

}
h1, h2, h3 {
    color: #777;
    display: inline-block;
    /* line-height: 10%; */
    

}

p {
    color: #777;
    line-height: 50%;
    

}

.p-container {
    background: #ebebeb;
    position: absolute;
    margin-top: 12%;
    margin-left: 4%;
    height: 27%;
    width: 92%;
}



.footer {
    background: #ebebeb;
    position: absolute;
    width: 100%;
    bottom: 26%;
    padding-top: 30px;
    padding-bottom: 30px;
}





